*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
**/.idea/*

# CDK asset staging directory
.cdk.staging
cdk.out


aws_transfer_family/secret_keys
